---

---

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--font google lato-->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Resolucion movil -->

<style > 
       
   
    li{
        font-family: 'Barlow';
    }
    
    .card0 {
        
        border-radius: 8px;
        z-index: 0;
    }
    
    .card00 {
        z-index: 0
    }
    
    .card1 {        
        z-index: 0;
        
    }
    
    .card2 {
        display: none
    }
    
    .card2.show {
        display: flex;
        flex-direction: column;
    }
    .social {
        border-radius: 50%;
        background-color: #FFCDD2;
        color: #e5a007;
        height: 47px;
        width: 47px;
        padding-top: 16px;
        cursor: pointer
    }
    
    input,
    select {
        padding: 2px;
        border-radius: 0px;
        box-sizing: border-box;
        color: #9E9E9E;
        border: 1px solid #BDBDBD;
        font-size: 16px;
        letter-spacing: 1px;
        height: 50px !important
    }
    
    select {
        width: 100%;
        margin-bottom: 85px
    }
    .text-conf{
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        border: 1px solid #e3e3e3;
        border-radius: 3px;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-left: none;
    }
    input:focus,
    select:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #e5a007 !important;
        outline-width: 0 !important
    }
    
    .form-control {
        
        border: none; 
        border-bottom: 1px solid #ced4da;
        
    }
    
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #e5a007
    }
    
    .form-group {
        display: flex;
        position: relative;
        margin-bottom: 1.5rem;
        width: 77%
    }
    
    .form-control-placeholder {
        position: absolute;
        top: 0px;
        padding: 12px 2px 0 2px;
        transition: all 300ms;
        opacity: 0.5
    }
    
    .form-control:focus+.form-control-placeholder,
    .form-control:valid+.form-control-placeholder {
        font-size: 95%;
        top: 10px;
        transform: translate3d(0, -100%, 0);
        opacity: 1;
        background-color: #fff
    }
    
    .next-button {
        width: 18%;
        height: 50px;
        background-color: #fab526;
        color: #fff;
        border-radius: 6px;
        padding: 10px;
        cursor: pointer;
        margin-left: 2px;
        min-width: 50px;
    }
    
    .next-button:hover {
        background-color: #e5a007;
        color: #fff
    }
    
    .get-bonus {
        margin-left: 154px
    }    
    .pic {
        width: 230px;
        height: 110px
    }
    
    #progressbar {
        position: absolute;        
        color: #e5a007
    }
    
    #progressbar li {
        list-style-type: none;
        font-size: 8px;
        font-weight: 400;
        display: flex ;
        flex-direction: column;
        position: relative;
        max-width: 20px;
        
        
    }
    #progressbar li p {
        width: min-content;
        text-wrap: balance;
        font-size: 1rem;
        /* align-self: center; */
        text-align: left;
        
    }
    
    #progressbar li:nth-child(3) {
        
    }
    
    #progressbar .step0:before {
        content: "";
        color: #fff
    }
    
    #progressbar li:before {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        font-size: 20px;
        background: #ffffff;
        border: 2px solid #727272;
        border-radius: 50%;   
        
    }
    
    #progressbar li:last-child:before {
        width: 45px;
        height: 45px;
        margin-top:-5px;        
    }
    
    #progressbar li:after {
        content: '';
        width: 100px;
        height: 4px;
        background: #BDBDBD;
        position: absolute;        
        top: 15px;
        z-index: -1;
    }
    
    #progressbar li:last-child:after {
        display: none;
    }
    
    #progressbar li:first-child:after {            
    }
    
    #progressbar li:nth-child(2):after {        
    }
    #progressbar li:nth-child(3):after {     
        
    }    
    
    #progressbar li.active:after {
        background: #e5a007;
    }
    
    #progressbar li.active:before {
        background: #e5a007;
        font-family: FontAwesome;
        content: "\f00c"
    }
    
    .tick {
        width: 100px;
        height: 100px
    }
    
    .prev {
        display: block;
        position: absolute;
        left: 40px;
        top: 20px;
        cursor: pointer
    }
    
    .prev:hover {
        color: #D50000 !important
    }
    
    @media screen and (max-width: 912px) {
        .card00 {
            
        }
        
        .card1 {
            border: none;            
        }
        
        .card2 {
            border-bottom: 1px solid #F5F5F5;
            
        }
        
        .social {
            height: 30px;
            width: 30px;
            font-size: 15px;
            padding-top: 8px;
            margin-top: 7px
        }
        
        .get-bonus {
            margin-top: 40px !important;
            margin-left: 75px
        }
        
        #progressbar {            
        }
    }
    .indicador-paso li{
        background: #FFB65F;
        background: linear-gradient(45deg, #FFB65F 50%, white  );
        border-start-start-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0px;
        
    }
    .step-info{
        color: white;
        margin-left: 5px;
        border-start-start-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0px;
        padding-right: 25px;
        
    }
    .p-info{
        margin: 0px;       
        width: 100%;
        background: rgb(240, 240, 240);
        background: linear-gradient(45deg, #ffffff, rgb(255, 255, 255) );
        border-start-start-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 0px;
        padding-left: 10px;
        
        
    }
</style>

<section style="" class="bg-white rounded-lg">
    <!-- step indicator -->
    <article class=" cont_left flex-1 w-full  gap-8  p-10 pb-0    " style="        
    display: flex;
    text-align: left;
    flex-direction: column;        
    justify-content: space-between;
    align-items: center;
    max-width: -webkit-fill-available;
    min-width: 300px;
    align-items: flex-start;
    
    ">
    
    <!-- <FlagTitle title="CUSTOMIZE TOURS" subtitle="Getting Ready" /> -->
    
    
    
    
</div>
<div class="" style="    
display: flex;
text-align: left;
flex-direction: row;
position: relative;
justify-content: center;
height: fit-content;    
">
<div class="card1" style="min-width: fit-content;">
    <ul id="progressbar" class="text-center flex flex-row gap-14 " style="justify-content: flex-start; z-index: 1;margin-left: 0px; position: relative;">
        <li class="relative active step0">                 
        </li>
        <li class="relative step0">
        </li>
        <li class="relative step0  ">               
        </li>
        <li class="relative step0 ">               
        </li>            
    </ul>
    <!-- ul indicador de paso  -->
    <ul class="indicador-paso">
        <li class="bg-white flex flex-row mb-1 " ><span class="mr-1 step-info" style="background: #FFB65F;">1.</span><p class="text-gray-400  p-info ">Names and lastnames</p> </li>
        <li class="bg-white flex flex-row mb-1" ><span class="mr-1 step-info" style="background: #FFB65F;">2.</span><p class=" text-gray-400 p-info ">Email &amp; phone</p></li>
        <li class="bg-white flex flex-row mb-1" ><span class="mr-1 step-info" style="background: #FFB65F;">3.</span><p class=" text-gray-400 p-info ">Set date departure &amp; short</p></li>
    </ul>
    <!-- <h2 class=" get-bonus mt-4 mb-5" style="
        color: silver;
        font-size: 1.5rem;
        text-wrap: balance;
        margin: 0px;
        text-align: start;
        position: relative;
        border: 0;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        ">You're Getting ready <span id="user-name" class="text-danger-cara">Jane Doe</span> Congratulations.</h2> -->
        
    </div>
    
</div>

    </article>

    <!-- form inputs -->
    <article class="cont_rigth flex-1  w-full pt-2  p-10    pb-5 " style=" display: inline-flex;background: white;flex-direction: column;height: -webkit-fill-available;min-width: 300px;border-radius: 5px;">
        <p id="btn-goback" class="absolute m-0 prev text-danger-cara" style="color: rgb(73, 80, 87); position: relative; display: none; text-align: left; font-size: smaller; left: 0px; top: 0px;"><span class="fa fa-long-arrow-left absolute z-10" style=" left: 0px; top: 0px;"> Go Back</span></p>
        <!-- <button type="button" class="btn btn-secondary prev" style="position: absolute; top: 10px; right: 10px;">Atrás</button> -->
        <div data-step="1" class="card2 first-screen show" style="
        min-width: 70px !important;
        ">
        
        <div class="row px-3 mt-4">                        
            
            <div class="form-group mt-1 mb-1">
                <div class="input-group-prepend">
                    <span class="text-conf">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <input type="text" id="full-name" class="form-control valid" placeholder="Name" required="" data-step="1">
                <!-- <label class="ml-3 form-control-placeholder" for="full-name">Name</label> -->
                
                
            </div>
                        
            
        </div>
        
        <div class="flex flex-row px-3 mt-4 ">
            <div class="form-group mt-1 mb-1"> 
                <div class="input-group-prepend">
                    <span class="text-conf">
                        <i class="fa fa-pencil"></i>
                    </span>
                </div>
                <input type="text" id="full-name" class="form-control" placeholder="Second Name" required="" data-step="1"> 
                <!-- <label class="ml-3 form-control-placeholder" for="full-name">Apellido</label>  -->
            </div>
            <div class="next-button text-center mt-1 "> <span class="fa fa-arrow-right"></span> </div>
        </div>
        
    </div>
    <div data-step="2" class="card2 ">
        
        <div class="flex flex-row px-3 mt-4">
            <div class="form-group mt-1 mb-1"> 
                <div class="input-group-prepend ">
                    <span class="text-conf ">
                        <i class="fa fa-envelope"></i>
                    </span>
                </div>
                <input type="text" id="email" class="form-control" placeholder="Email" required="" data-step="2">
                
                <!-- <label class="ml-3 form-control-placeholder" for="email">Email</label>  -->
            </div>
        </div>
        <div class="flex flex-row px-3 mt-3">
            <div class="form-group mt-1 mb-1"> 
                <div class="input-group-prepend">
                    <span class="text-conf">
                        <i class="fa fa-phone"></i>
                    </span>
                </div>
                <input type="tel" id="phone" class="form-control" placeholder="Telefono" required="" data-step="2">
                <!-- <label class="ml-3 form-control-placeholder" for="phone">Phone Number</label> -->
            </div>
            <div class="next-button text-center mt-1 "> <span class="fa fa-arrow-right"></span> 
            </div>
        </div>                                              
    </div>

    <div data-step="3" class="card2 " id="id-preview">
        <div class="row px-3 mt-3">
            
            <div class="form-group mt-1 mb-1">
                <div class="input-group-prepend">
                    <span class="text-conf">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
                <input type="date" id="tour-date" class="form-control" required="" data-step="3">
                <!-- <label class="ml-3 form-control-placeholder" for="tour-date"></label> -->
                
            </div>
        </div>
        <div class="flex flex-row px-3 mt-3">
            
            <div class="form-group mt-1 mb-1">
                <div class="input-group-prepend">
                    <span class="text-conf">
                        <i class="fa fa-pencil"></i>
                    </span>
                </div>
                <textarea id="description" class="form-control min-w-fit max-h-16" placeholder="Description" required="" data-step="3" flex flex-rows="4"></textarea>
                <!-- <label class="ml-3 form-control-placeholder" for="description">Description</label> -->
                <div class="next-button final-button text-center mt-1 "> <span class="fa fa-arrow-right"></span> </div>
            </div> 
        </div>
        
        
    </div>

    <!-- Date departure  and description -->
    <div data-step="4" class="card2 " id="final-step-id" style="background:white;">
        
        <div class="row px-3 mt-2 mb-4 text-center">
            <h2 class="col-12 text-danger-cara uppercase text-orange-400"><strong>Success !</strong></h2>
            <!-- there could be a sucesfull animation -->
            <h6 class="col-12 mt-2">
                <p>
                    now you can write to us by Whatsapp and E-mail
                </p>
            </h6>
        </div>
        <button type="button" class=" text-white bg-blue-400 rounded-lg  final-button text-center mt-1 " id="whatsapp-button">Enviar por WhatsApp</button>
        <button type="button" class=" text-white bg-blue-400 rounded-lg  final-button text-center mt-1 " id="email-button">Enviar por Email</button>
    </div>
    </article>

</section>

<script is:inline src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script is:inline >
    
    
    const maildestiny = 'caracaranaturetours@gmail.com'
    const phone = "+573003000082"
    $(document).ready(function () {    
        
        // Función para enviar mensajes por WhatsApp o correo electrónico
        function sendMessage() {
            // Obtiene los valores de los campos necesarios
            var userName = $("#full-name").val();
            var userEmail = $("#email").val();
            var userPhone = $("#phone").val();
            var tourDate = $("#tour-date").val();
            var description = $("#description").val();
            
            // Crea el mensaje con la información
            var message = `Name: ${userName}\nE-mail: ${userEmail}\nPhone: ${userPhone}\nTour Date: ${tourDate}\nDescription: ${description}`;
            
            // Determina el enlace y la plataforma según el botón presionado
            var isWhatsApp = $(this).attr('id') === 'whatsapp-button';
            var link = isWhatsApp
            ? `https://api.whatsapp.com/send?phone=${phone}&text=${encodeURIComponent(message)}`
            : `mailto:${maildestiny}?subject=${encodeURIComponent("Tour Inquiry from " + userName)}&body=${encodeURIComponent(message)}`;
            
            // Abre la ventana de enlace
            window.open(link, "_blank");
        }
        // Maneja el clic en los botones "Send via WhatsApp" y "Send via Email"
        $("#whatsapp-button, #email-button").click(sendMessage);
        
 
        // Función para verificar los campos en el paso actual
        function checkFields(step) {
            var allFieldsFilled = true;
            
            // Verifica los campos de entrada requeridos en el paso actual
            $(".form-control[data-step='" + step + "'][required]").each(function () {
                if ($(this).val() === "") {
                    allFieldsFilled = false;
                    return false; // Rompe el bucle si se encuentra un campo vacío
                }
            });
            
            return allFieldsFilled;
        }
        
        // Maneja el clic en el botón "Next"
        $(".next-button").click(function () {  
            
            current_fs = $(this).parent().parent();                                   
            var nextStep = mostrarPasoActual() + 1;
            
            if ( checkFields(mostrarPasoActual()) ) {
                // Obtener el valor del campo de entrada de nombre
                var userName = $("#full-name").val();
                // Actualizar el contenido del <span> con el nombre del usuario
                    $("#user-name").text(userName);
                    
                    next_fs = $(this).parent().parent().next();
                    $(current_fs).removeClass("show");
                    $(next_fs).addClass("show");
                    $("#progressbar li").eq($(".card2").index(next_fs)).addClass("active");
                    
                    configurarGoBack();  
                }else{
                    
                }
                // Oculta el div con id "id-preview"
                var lastStepActive = $("#progressbar li:last").hasClass("active");
                
                // Muestra la última card2 solo si el último círculo de step0 tiene la clase 'active'
                if (lastStepActive) {
                    $("#id-preview").removeClass("show");
                    // Muestra el div con id "final-step-id"
                    $("#final-step-id").addClass("show");
                } else {
                    
                    
                }
            });
            
            
            
            
        });
        
        // control de pasos adelante y atras
        var pasoActual = 0;
        function mostrarPasoActual(){
            pasoActual = 0; // Inicializa pasoActual a 0 por defecto
            
            var elementosLi = document.querySelectorAll("#progressbar li");
            
            for (var i = 0; i < elementosLi.length; i++) {
                if (elementosLi[i].classList.contains("active")) {
                    pasoActual = i + 1; // Suma 1 porque los índices comienzan en 0    
                }
                else{
                    break;
                }
            }                                  
            
            console.log("El paso actual es: " + pasoActual);
            return pasoActual;                                    
        }
        
        mostrarPasoActual();  
        configurarGoBack(); 
        function configurarGoBack() {
            var activeIndex = mostrarPasoActual() - 1;
            // Oculta o muestra el botón "Go Back"
            $("p.prev").css("display", activeIndex === 0 || mostrarPasoActual() === 4 ? "none" : "block");
            
            // Actualiza la posición de los elementos en el segundo <ul>
                var indicadorPasoItems = $(".indicador-paso li");
                var activeItem = indicadorPasoItems.eq(activeIndex);
                indicadorPasoItems.removeClass("bg-white");
                activeItem.addClass("bg-white").prevAll().addClass("bg-white");
            }                     
            
            // Maneja el clic en el botón "Prev" (incluyendo el botón "Go Back")
            $(".prev").click(function () {     
                var pasoActual = mostrarPasoActual();  
                pasoActual = pasoActual -1;                                      
                // Actualiza el indicador de progreso
                // $("#progressbar li").removeClass("active");
                $("#progressbar li:eq(" + pasoActual + ")").removeClass("active");
                $("#progressbar li:eq(" + (pasoActual-1) + ")").addClass("active");
                
                // Oculta todas las tarjetas
                $(".card2").removeClass("show");                                    
                // // Muestra solo la tarjeta correspondiente al data-step
                $(".card2[data-step=" + (mostrarPasoActual() ) + "]").addClass("show");
                
                configurarGoBack();                                                           
            });
            
            
            
            document.addEventListener('DOMContentLoaded', function () {
                var menuCollapsed = false;
                var toggleMenuButton = document.getElementById('toggleMenuButton');
                var menuContent = document.getElementById('navbarSupportedContent');
                
                toggleMenuButton.addEventListener('click', function () {
                    if (menuCollapsed) {
                        // Si el menú está colapsado, lo despliega
                        menuContent.style.display = 'block';
                        menuCollapsed = false;
                    } else {
                        // Si el menú está desplegado, lo colapsa
                        menuContent.style.display = 'none';
                        menuCollapsed = true;
                    }
                });
            });
            
            
            
            
        </script>
        
        
        
        