---
interface Props {
    tourAttributes?: Array<any>; // O específica el tipo de datos que contendrá el arreglo
    tourId?: number;    
}
const { tourAttributes, tourId} = Astro.props;
let idString = tourId !== undefined ? tourId.toString() : undefined;

import SectionTitle from "../../components/resources/SectionTitle.astro";
import Btn from "../resources/Btn.astro";
---

<div>
    <!-- card tour details -->
    <div
        class="flex-1 overflow-hidden min-w-min md:w-2/3 max-w-sm m-0"
        style=""
    >
        <span
            class="flex z-10 min-h-80 max-h-80 min-w-80 max-w-sm md:min-h-72 md:max-h-min-h-72 md:min-w-2/3 md:max-w-2/3 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            style={`
            background-image: url(${tourAttributes.image.data?.attributes.url});    
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;   
            width: 100%;
            border-bottom: none; /* Elimina el borde inferior */
            border-radius: 8px 8px 0 0; /* Redondear solo los bordes superiores izquierdo y derecho */
            `}
        >
        </span>
        <div
            class="p-5 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
            style="border-top: none;border-radius: 0 0 8px 8px"
        >
            <SectionTitle
                title="Overview"
                subtitle={tourAttributes.title}
                titleSize=""
                subsize="text-xl"
                p="pb-10"
            />

            <!-- Region:  -->
            <h6
                class="text-sm -mt-6 text-gray-500 truncate dark:text-gray-300"
                style="font-weight: 600;"
            >
                {tourAttributes.region}
            </h6>

            <h6 class="text-sm font-medium pb-6 text-gray-900 dark:text-white">
                <!-- Description:  -->
                <p
                    class="text-sm text-gray-500 line-clamp-4 dark:text-gray-400"
                >
                    {tourAttributes.description}
                </p>
            </h6>

            <ul
                role="list"
                class="divide-y divide-gray-200 dark:divide-gray-700"
            >
                <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                        <!-- <div class="mr-5 flex-shrink-0">
              <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
          </div> -->
                        <div class="flex-1 min-w-0">
                            <p
                                class="text-sm font-medium text-gray-900 truncate dark:text-white"
                            >
                                Date departure
                            </p>
                            <p
                                class="text-sm text-gray-500 truncate dark:text-gray-400"
                            >
                                {tourAttributes.date_departure}
                            </p>
                        </div>
                        <div
                            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                        >
                            All year {tourAttributes.all_year}
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                        <!-- <div class="mr-5 flex-shrink-0">
            <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
        </div> -->
                        <div class="flex-1 min-w-0">
                            <p
                                class="text-sm font-medium text-gray-900 truncate dark:text-white"
                            >
                                Region
                            </p>
                            <p
                                class="text-sm text-gray-500 truncate dark:text-gray-400"
                            >
                                {tourAttributes.region}
                            </p>
                        </div>
                        <div
                            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                        >
                            -{tourAttributes.discount}%
                        </div>
                    </div>
                </li>
                <li class="py-3 sm:py-4">
                    <div class="flex items-center">
                        <!-- <div class="mr-5 flex-shrink-0">
          <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
      </div> -->
                        <div class="flex-1 min-w-0">
                            <p
                                class="text-sm font-medium text-gray-900 truncate dark:text-white"
                            >
                                Price
                            </p>
                            <p
                                class="text-sm text-gray-500 truncate dark:text-gray-400"
                            >
                                {tourAttributes.price_visible}
                            </p>
                        </div>
                        <div
                            class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white"
                        >
                            ${tourAttributes.price} USD
                        </div>
                    </div>
                </li>
            </ul>
            <Btn href="#section-tour-details" att=" py-1 text-gray-500  bg-white dark:bg-gray-800"></Btn>
    
        </div>     
    </div>
    


</div>
