---
interface Props { 
	color?:string   
    title?:string
    subtitle?:string   
	p?:string
	titleSize?:string
	subsize?:string	
}
const {title,subtitle,titleSize, subsize,p,color} = Astro.props;
---

<div class={`section-title  ${p}  ml-0 text-left `}>
    <p class={`main-article-subheading ${titleSize}`} >{title}</p>
    <p class={`${subsize} text-gray-900 dark:text-white main-article-heading theme-font-titles`} >{subtitle}</p>
</div>

<style>
    .main-article-subheading {
	font-size: 14px;
	font-weight: 500;
	padding: 0;
	line-height: 1px;
	margin: 0 0 5px 0;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #6d7176;	
}
.main-article-subheading::after {
	content: "";
	width: 120px;
	height: 1px;
	display: inline-block;
	background: #556270;	
	margin-top: 10px;
}
.main-article-heading {
	margin: 0;
	/* font-size: 36px; */
	font-weight: 700;
	text-transform: uppercase;
	/* color: #556270; */
}

</style>